.recipe-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.heading {
    background-color: green;
    /*width: fit-content; This is no longer needed with flex set*/
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex: 1 1 auto;
}

.links-to-recipes {
    width: fit-content;
    color: red;
    padding: 10px;
}