.recipe-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.heading {
    background-color: green;
    width: fit-content;
    color: aliceblue;
    padding: 10px;
}

.links-to-recipes {
    width: fit-content;
    color: red;
    padding: 10px;
}